/*------------------------------------*\
    #ELEMENTS
\*------------------------------------*/

/**
 * Estilos predefinidos para elementos específicos del DOM.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  color: $negro;
}

p {
  margin: 0.5rem 0;
  color: $negro;
}

a {
  text-decoration: none;
  color: $link;
}

video {
  max-width: 100%;
  vertical-align: middle;
}

::before,
::after {
  box-sizing: inherit;
}
