/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
** Colores generales.
*/

$white: #fff;
$black: #000;
$link: #3576e7;

/**
** RRSS.
*/

$fb: #3a5795;
$ig: #c13584;
$wsp: #25d366;
