/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
** Colores generales.
*/

$blanco: #fff;
$link: #3576e7;
$negro: #000;

/**
** RRSS.
*/

$fb: #3a5795;
$ig: #c13584;
$wsp: #25d366;
