<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Workflow BEMIT</title>
</head>

<body>

    {{> partials/Components/Home/nav-demo}}

    <h1>
        Webpack + BEMIT Workflow
    </h1>

    <img src="./static/img/demo.jpg" alt="" style="width: 450px;">

</body>

</html>